<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/css/custom.min.css">
	<title>Project</title>
</head>
<body>

	<div id="app" v-if="newsData">
		<!-- start of app -->
		<div class="container">
			<div class="quickLinksCont">
				<h4>New Zealand</h4>
				<h4>United Kingdom</h4>
				<h4>Australia</h4>
				<h4>New Zealand</h4>
			</div>
			<div id="newsContainer" class="newsContainer">

			<!-- <div id="backButton" class="hideBtn" v-on:click="normalView()"></div> -->

			<!-- <ul>
				<li v-for="articles in newsData.data" :key="articles.title">{{articles[0].title}}
				</li>
			</ul> -->
			<!-- <component-article></component-article> -->

			<!-- <div class="newsBlock" v-on:click="articleFullView(0)">
				<img v-bind:src="newsData.data.articles[0].urlToImage">
				<div class="textCont">
					<h2>{{newsData.data.articles[0].title}}</h2>
					<h3>{{newsData.data.articles[0].author}} <span class="date">{{newsData.data.articles[0].publishedAt}}</span></h3>
					<p class="article">{{newsData.data.articles[0].description}}</p>
				</div>
			</div>

			<div class="newsBlock" v-on:click="articleFullView(1)">
				<img v-bind:src="newsData.data.articles[1].urlToImage">
				<div class="textCont">
					<h2>{{newsData.data.articles[1].title}}</h2>
					<h3>{{newsData.data.articles[1].author}} <span class="date">{{newsData.data.articles[1].publishedAt}}</span></h3>
					<p class="article">{{newsData.data.articles[1].description}}</p>
				</div>
			</div>

			<div class="newsBlock" v-on:click="articleFullView(2)">
				<img v-bind:src="newsData.data.articles[2].urlToImage">
				<div class="textCont">
					<h2>{{newsData.data.articles[2].title}}</h2>
					<h3>{{newsData.data.articles[2].author}} <span class="date">{{newsData.data.articles[2].publishedAt}}</span></h3>
					<p class="article">{{newsData.data.articles[2].description}}</p>
				</div>
			</div>

			<div class="newsBlock" v-on:click="articleFullView(3)">
				<img v-bind:src="newsData.data.articles[3].urlToImage">
				<div class="textCont">
					<h2>{{newsData.data.articles[3].title}}</h2>
					<h3>{{newsData.data.articles[3].author}} <span class="date">{{newsData.data.articles[3].publishedAt}}</span></h3>
					<p class="article">{{newsData.data.articles[3].description}}</p>
				</div>
			</div>

			<div class="newsBlock" v-on:click="articleFullView(4)">
				<img v-bind:src="newsData.data.articles[4].urlToImage">
				<div class="textCont">
					<h2>{{newsData.data.articles[4].title}}</h2>
					<h3>{{newsData.data.articles[4].author}} <span class="date">{{newsData.data.articles[4].publishedAt}}</span></h3>
					<p class="article">{{newsData.data.articles[4].description}}</p>
				</div>
			</div>

			<div class="newsBlock" v-on:click="articleFullView(5)">
				<img v-bind:src="newsData.data.articles[5].urlToImage">
				<div class="textCont">
					<h2>{{newsData.data.articles[5].title}}</h2>
					<h3>{{newsData.data.articles[5].author}} <span class="date">{{newsData.data.articles[5].publishedAt}}</span></h3>
					<p class="article">{{newsData.data.articles[5].description}}</p>
				</div>
			</div>

		</div>
		<div class="sidebar">
			<input id="searchInput" v-on:keyup.enter="querySearch()" type="text" placeholder="Search..."></input>
			<button type="button" name="button" v-on:click="querySearch()">Let's Go!</button>
		</div>
	</div> -->
		<!-- end of app -->
	</div>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="dist/js/bundle.js"></script>
</body>
</html>
